body {
    color: #333;
}

header {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
@media only screen and (min-width: 1200px) {
    header section {
        width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 1200px) {
    header section {
        margin: 1em;
    }
}

@media only screen and (max-width: 1200px) {
    header section #about h1 {
        font-size: 6rem;
        text-align: center;
    }
    header section #about h2 {
        font-size: 3rem;
        text-align: center;
    }
}
@media only screen and (min-width: 1200px) {
    header section #about {
        width: 580px; 
        order: 1;
        display: inline-block;
    }
    header section #about h1 {
        font-size: 72px;
    }
}

header section #about h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0;
}
header section #about h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #4B5997;
    font-style: italic;
}
.icons a {
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    svg.logo {
        height: 35px;
        margin-right: 1em;
    }
}

@media only screen and (max-width: 1200px) {
    .icons {
        text-align: center;
    }
    svg.logo {
        height: 3em;
        margin-right: 1em;
    }
}
svg.logo path {
    fill: #D1CFDE;
}

header section #about p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 2;
}

header section #about p a {
    color: #4B5997;
}
@media only screen and (max-width: 1200px) {
    header section #about p {
        font-size: 2.8rem;
    }
}

@media only screen and (min-width: 1200px) {
    header section #hero {
        display: inline-block;
        width: 580px;
        order: 2;
        text-align: center
    }
}
@media only screen and (max-width: 1200px) {
    header section #hero {
        display: none;
    }
}

article.videos {
    width: 100%;
    background-color: #4B5997;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media only screen and (min-width: 1200px) {
    article.videos section {
        width: 1200px;
    }
}
@media only screen and (max-width: 1200px) {
    article.videos section {
        margin: 0 1rem;
    }
}

article.videos section h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
article.videos section h2 a {
    color: #ffffff;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    article.videos section h2 {
        font-size: 3rem;
        text-align: center;
    }
}
@media only screen and (min-width: 1200px) {
    article.videos section .videos {
        display: flex;
        justify-content: space-between;
    }
}

article.videos section .videos .video {
    flex-grow: 1;
    padding-left: 0;
    margin: 0 1em;
}
article.videos section .videos .video img {
    width: 100%;
    border: 2px solid #D1CFDE;
}
article.videos section .videos .video p {
    font-family: 'Open Sans', sans-serif;
    color: #D1CFDE;
    text-align: center;
}

@media only screen and (max-width: 1200px) { 
    article.videos section .videos .video p {
        font-size: 2.5rem;
    }
}

article.videos section .videos .video p > a,a:visited {
    color: #D1CFDE;
    text-decoration: none;
}

article.posts {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media only screen and (min-width: 1200px) { 
    article.posts section {
        width: 1200px;
    }
}
@media only screen and (max-width: 1200px) { 
    article.posts section {
        margin: 0 1rem;
    }
}

article.posts section h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
article.posts section h2 a {
    color: #333;
    text-decoration: none;
}

@media only screen and (min-width: 1200px) { 
    article.posts section h2 {
        font-size: 1.5em;
    }
}


@media only screen and (min-width: 1200px) { 
    article.posts section .posts {
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 1200px) { 
    article.posts section h2 {
        font-size: 3rem;
        text-align: center;
    }
    article.posts section .posts {
        font-size: 2.8rem;
    }
}

article.posts section .posts .post {
    flex-grow: 1;
    padding: 0.5em;
    padding-left: 0;
}

article.posts section .posts .post h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
article.posts section .posts .post h3 a,a:visited {
    color: #4B5997;
    text-decoration: none;
} 
article.posts section .posts .post p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 2;
} 
article.posts section .posts .post p > a,a:visited {
    color: #4B5997;
    text-decoration: none;
} 